.calendar{

}

.calendar__mounts{
    transition: .5s;
}

.calendar__mount{
    margin-top: 30px;
    margin-bottom: 30px;
    display: none;
}

.calendar__mount--active{
    display: block;
}

.calendar__dayWeek{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(166,168,179,.25);
}

.calendar__dayWeek-cell{
    width: calc(100% / 7 - 20px);
    padding: 10px;
    text-align: center;
    font-weight: bold;

}

.calendar__days{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-left: 1px solid rgba(166,168,179,.25);
}

.calendar__days-cell{
    width: calc(100% / 7 - 21px);
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgba(166,168,179,.25);
    border-right: 1px solid rgba(166,168,179,.25);
    min-height: 80px;
}

.calendar__days-cell--yellow{
    background-color: rgba(237,255,48,.20);
}

.calendar__days-cell--green{
    background-color: rgba(81,232,68,.20);
}


.calendar-item{
    position: relative;
}

.calendar-item--disable{
    opacity: .4;
}

.calendar-item__day{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10px;
    line-height: 10px;
}

.calendar-item__day--yellow{
    color: #9e7500;
    font-weight: bold;
}


.calendar__navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.calendar__navigation-prev{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 1px solid #BDBDBD;
    border-radius: 50%;
    transform: rotate(-90deg);
    cursor: pointer;
}

.calendar__navigation-prev:hover{
    border-color: #FFAC00;
}

.calendar__navigation-prev:hover svg path{
    stroke: #FFAC00;
}

.calendar__navigation-next{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 1px solid #BDBDBD;
    border-radius: 50%;
    transform: rotate(90deg);
    cursor: pointer;
}

.calendar__navigation-next:hover{
    border-color: #FFAC00;
}

.calendar__navigation-next:hover svg path{
    stroke: #FFAC00;
}

.calendar__navigation-date{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.calendar__navigation-date-months{
}

.calendar__navigation-date-year{
    margin-bottom: 5px;
}


.calendar__dayWeek-cell-full{

}

.calendar__dayWeek-cell-mini{
    display: none;
}

@media all and (max-width: 1024px) {
    .calendar__dayWeek-cell-full{
        display: none;
    }
    .calendar__dayWeek-cell-mini{
        display: block;
    }
}
