.calendar__mounts{
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.calendar__mount{
  margin-top:30px;
  margin-bottom:30px;
  display:none;
}

.calendar__mount--active{
  display:block;
}

.calendar__dayWeek{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  border-bottom:1px solid rgba(166, 168, 179, .25);
}

.calendar__dayWeek-cell{
  width:calc(14.28571% - 20px);
  padding:10px;
  text-align:center;
  font-weight:700;
}

.calendar__days{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  border-left:1px solid rgba(166, 168, 179, .25);
}

.calendar__days-cell{
  width:calc(14.28571% - 21px);
  padding:10px;
  text-align:center;
  border-bottom:1px solid rgba(166, 168, 179, .25);
  border-right:1px solid rgba(166, 168, 179, .25);
  min-height:80px;
}

.calendar__days-cell--yellow{
  background-color:rgba(237, 255, 48, .2);
}

.calendar__days-cell--green{
  background-color:rgba(81, 232, 68, .2);
}

.calendar-item{
  position:relative;
}

.calendar-item--disable{
  opacity:.4;
}

.calendar-item__day{
  position:absolute;
  right:0;
  top:0;
  font-size:10px;
  line-height:10px;
}

.calendar-item__day--yellow{
  color:#9e7500;
  font-weight:700;
}

.calendar__navigation{
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  margin-bottom:30px;
}

.calendar__navigation,.calendar__navigation-prev{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

.calendar__navigation-prev{
  position:relative;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  width:44px;
  height:44px;
  border:1px solid #bdbdbd;
  border-radius:50%;
  -webkit-transform:rotate(-90deg);
      -ms-transform:rotate(-90deg);
          transform:rotate(-90deg);
  cursor:pointer;
}

.calendar__navigation-prev:hover{
  border-color:#ffac00;
}

.calendar__navigation-prev:hover svg path{
  stroke:#ffac00;
}

.calendar__navigation-next{
  position:relative;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  width:44px;
  height:44px;
  border:1px solid #bdbdbd;
  border-radius:50%;
  -webkit-transform:rotate(90deg);
      -ms-transform:rotate(90deg);
          transform:rotate(90deg);
  cursor:pointer;
}

.calendar__navigation-next:hover{
  border-color:#ffac00;
}

.calendar__navigation-next:hover svg path{
  stroke:#ffac00;
}

.calendar__navigation-date{
  font-weight:700;
  font-size:20px;
  text-align:center;
}

.calendar__navigation-date-year{
  margin-bottom:5px;
}

.calendar__dayWeek-cell-mini{
  display:none;
}

@media (max-width:1024px){
  .calendar__dayWeek-cell-full{
    display:none;
  }

  .calendar__dayWeek-cell-mini{
    display:block;
  }
}
