.calendar__mounts{
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.calendar__mount{
  margin-top:30px;
  margin-bottom:30px;
  display:none;
}

.calendar__mount--active{
  display:block;
}

.calendar__dayWeek{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}

.calendar__dayWeek-cell{
  width:14.28571%;
  text-align:center;
  font-weight:700;
  border-bottom:2px solid rgba(166, 168, 179, .25);
  padding:10px 0;
}

.calendar__days{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:normal;
      -ms-flex-align:normal;
          align-items:normal;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  border-left:2px solid rgba(166, 168, 179, .25);
}

.calendar__days-cell{
  width:calc(14.28571% - 2px);
  border-bottom:2px solid rgba(166, 168, 179, .25);
  border-right:2px solid rgba(166, 168, 179, .25);
  min-height:110px;
}

.calendar__days-cell--yellow{
  background-color:rgba(237, 255, 48, .2);
}

.calendar-item{
  position:relative;
}

.calendar-item--disable{
  opacity:.4;
}

.calendar-item__day{
  position:absolute;
  right:5px;
  top:5px;
  font-size:11px;
  background-color:#e6e6e6;
  width:20px;
  height:20px;
  color:#868686;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  border-radius:50%;
}

.calendar-item__day--yellow{
  color:#9e7500;
  font-weight:700;
}

.calendar__navigation{
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  margin-bottom:30px;
}

.calendar__navigation,.calendar__navigation-prev{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

.calendar__navigation-prev{
  position:relative;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  width:44px;
  height:44px;
  border:1px solid #bdbdbd;
  border-radius:50%;
  -webkit-transform:rotate(-90deg);
      -ms-transform:rotate(-90deg);
          transform:rotate(-90deg);
  cursor:pointer;
}

.calendar__navigation-prev:hover{
  border-color:#ffac00;
}

.calendar__navigation-prev:hover svg path{
  stroke:#ffac00;
}

.calendar__navigation-next{
  position:relative;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  width:44px;
  height:44px;
  border:1px solid #bdbdbd;
  border-radius:50%;
  -webkit-transform:rotate(90deg);
      -ms-transform:rotate(90deg);
          transform:rotate(90deg);
  cursor:pointer;
}

.calendar__navigation-next:hover{
  border-color:#ffac00;
}

.calendar__navigation-next:hover svg path{
  stroke:#ffac00;
}

.calendar__navigation-date{
  font-weight:700;
  font-size:20px;
  text-align:center;
}

.calendar__navigation-date-year{
  margin-bottom:5px;
}

.calendar__dayWeek-cell-mini{
  display:none;
}

.calendar-list__item{
  padding:10px;
  border-bottom:2px solid #e9e9ec;
}
.calendar-list__item--blue{
  background-color:#028cf9;
  color:#fff;
}
.calendar-list__item--black{
  background-color:#000;
  color:#fff;
}
.calendar-list__item--green{
  background-color:#02dd10;
  color:#fff;
}
.calendar-list__item--white{
  background-color:#fff;
  color:#000;
}
.calendar-list__item--red{
  background-color:red;
  color:#fff;
}
.calendar-list__item:last-child{
  border-bottom-width:0;
}

.calendar-list__itemTitle{
  font-size:12px;
}

@media (max-width:1024px){
  .calendar__dayWeek-cell-full{
    display:none;
  }

  .calendar__dayWeek-cell-mini{
    display:block;
  }
}
